---
// se ejecuta en el servidor o en build time <----
const { title } = Astro.props
---

<section>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<script>
  // se ejecuta en el cliente <----
</script>

<style>
  section {
    max-width: 100%;
    margin: 0 auto calc(var(--space-unit, 8px) * 6);
  }

  h2 {
    margin-bottom: var(--space-unit);
    font-weight: 700;
    line-height: 1.35;
    font-size: 1.375rem;
    letter-spacing: -0.02em;
    color: var(--ink);
  }

  @media (width <= 700px) {
    section {
      margin-bottom: calc(var(--space-unit, 8px) * 5);
    }
  }
</style>
